/* START === DELETE */
  /* html {
    background-image: url('../../0_Design_Images/01.png');
    background-size: cover;
    background-position: 0 100px;
    background-repeat: no-repeat;
  } */
/* E N D === DELETE */

/* START === CSS RESET */
  html {
    box-sizing: border-box;
  }

  *, 
  *::before, 
  *::after  {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
/* E N D === CSS RESET */

/* START === COMMON */
  :root {
    --blue1: #1F2937;
    --blue2: #3882F6;
    --gray1: #F9FAF8;
    --gray2: #E5E7EB;
  }

  @font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
  }

  @font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Black.ttf);
    font-weight: 900;
  }

  html {
    font-family: Roboto;
  }

  header > .container, 
  main > section > .container,
  footer > .container {
    width: 1000px;
  }

  body > header,
  main > section,
  body > footer {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  body > header,
  main section.hero,
  body > footer {
    background: var(--blue1);
    color: var(--gray1);
  }
/* E N D === COMMON */

/* START === HEADER */
  header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
  } 

  header nav ul {
    display: flex;
    gap: 1.5em;
    font-size: 18px;
    color: var(--gray2);
  }
/* E N D === HEADER */

/* START === HERO */
  main section.hero .container {
    display: flex;
    padding: 100px 0;
    align-items: center;
  }

  main section.hero .container .left {
    padding-right: 50px;
  }

  main section.hero .container .left h2 {
    font-size: 48px;
    font-weight: 900;
    padding-bottom: 10px;
   }

  main section.hero .container .left p {
    padding-bottom: 20px;
    font-size: 18px;
    color: var(--gray2);
  }

  main section.hero .container .left button {
    background-color: var(--blue2);
    border: none;
    color: var(--gray2);
    font-size: 18px;
    font-weight: bold;
    padding: 8px 25px;
    border-radius: 7px;
  }

  main section.hero .container .left button:hover {
    background-color: #1461db;
  }

  main section.hero .container .right {
    display:flex;
  }

  main section.hero .container .right img {
    width: 500px;
    height: 250px;
  }
/* E N D === HERO */

/* START === SECTION 2 */
  main section:nth-child(2) .container {
    padding: 50px 0 100px 0;
  }

  main section:nth-child(2) .container h2 {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: var(--blue1);
  }

  main section:nth-child(2) .container .box-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 50px 0;
  }

  main section:nth-child(2) .container .box-container .box {
    width: 165px;
  }

  main section:nth-child(2) .container .box-container .box .img-container {
    display: flex;
    width: 165px;
    height: 165px;
    border: 4px solid var(--blue2);
    border-radius: 10px;
  }

  main section:nth-child(2) .container .box-container .box .text-container {
    text-align: center;
    color: var(--blue-1);
    font-size: 17px;
    padding-top: 15px;
  }
/* E N D === SECTION 2 */

/* START === SECTION 3 */
  main section:nth-child(3) {
    background-color: var(--gray2);
    color: var(--blue-1);
    padding: 150px 0;
  }
  
  main section:nth-child(3) .container blockquote p {
    font-style: italic;
    font-size: 36px;
  }

  main section:nth-child(3) .container blockquote footer {
    font-weight: bold;
    text-align: right;
    font-size: 24px;
    padding-top: 20px;
    padding-right: 30px;
  }
/* E N D === SECTION 3 */

/* START === SECTION 4 */
  main section:nth-child(4) {
    padding: 100px 0;
  }

  main section:nth-child(4) .container {
    display: flex;
    background-color: var(--blue2);
    color: var(--gray1);
    padding: 50px 120px; 
    border-radius: 10px;
  }

  main section:nth-child(4) .container .left,
  main section:nth-child(4) .container .right {
    display: flex;
    flex: auto;
  }

  main section:nth-child(4) .container .left {
    flex-flow: column nowrap;
  }

  main section:nth-child(4) .container .right {
    justify-content: flex-end;
    align-items: center;
  }

  main section:nth-child(4) .container .left p:nth-child(1) {
    font-size: 24px;
  }

  main section:nth-child(4) .container .left p:nth-child(2) {
    color: var(--gray2);
    font-size: 18px;
  }

  main section:nth-child(4) .container .right button {
    background-color: var(--blue2);
    color: var(--gray1);
    border: 2px solid var(--gray1);
    border-radius: 7px;
    padding: 7px 35px;
    font-size: 18px;
  }

  main section:nth-child(4) .container .right button:hover {
    border-color: var(--blue1);
  }
/* E N D === SECTION 4 */

/* START ===  */
/* E N D ===  */

/* START ===  */
/* E N D ===  */

/* START ===  */
/* E N D ===  */